# Environment config file

spring.profiles.active=dev

spring.application.name=Personal Tutor Backend App

spring.jackson.serialization.write_dates_as_timestamps=true


spring.mvc.view.prefix = /views/
spring.mvc.view.suffix = .html